/* Variables -----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
  margin: 0;
}

li {
  list-style-type: none;
}

h1, h2 {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 50px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
  color: #333;
}

.container {
  width: 100%;
  position: relative;
}

/* Navbar---------------------------------------------------------------*/
.navbar {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  margin: auto;
  border: 3px solid white;
  border-radius: 50%;
  padding: 3px 3px 2px 5px;
  -webkit-transition: opacity .4s ease-in, -webkit-transform .4s ease-in-out;
  transition: opacity .4s ease-in, -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .4s ease-in;
  transition: transform .4s ease-in-out, opacity .4s ease-in, -webkit-transform .4s ease-in-out;
}

.navbar img {
  width: 3em;
}

.logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-name h3 {
  margin-left: 20px;
  letter-spacing: 0.2em;
  color: rgba(200, 200, 200, 0);
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.logo:hover {
  -webkit-transform: rotate(320deg) scale(0.9);
          transform: rotate(320deg) scale(0.9);
  opacity: 0.5;
}

.logo:hover + h3 {
  color: #f0f0f0;
}

.nav-links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: .05em;
  margin-right: 3%;
}

.nav-links li {
  font-size: 1.3em;
  padding: 10px 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f9f9f9;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.nav-links a:hover {
  color: firebrick;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/* Page TOPPER------------------------------------------------------------------*/
.page-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 800px;
  padding: 100px;
  margin-top: 60px;
}

.name,
.page-top-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page-top-background {
  background: url("../img/stef-mountain.jpg") no-repeat center;
  background-size: cover;
}

.name {
  z-index: 10;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 600px 30px #000000;
          box-shadow: inset 0 0 600px 30px #000000;
}

.face-photo img {
  max-width: 400px;
  margin: auto 0;
  width: 100%;
  border: 3px solid black;
  border-radius: 50%;
}

/* INTRODUCTION SECTION--------------------------------------------------------*/
.bg-coloring-primary {
  background: #cccccc url(../img/sls-light.png);
}

.introduction {
  font-size: 1.4rem;
  width: 80%;
  padding: 50px 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.introduction p {
  font-weight: bold;
  color: #333;
  max-width: 50%;
  margin: auto 0;
  padding: 0 5%;
}

/* Previous Experience Section ----------*/
.experience-heading {
  color: #666666;
}

.jobs-section {
  background-color: white;
}

.job-group {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  max-width: 400px;
}

.job {
  background-color: white;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.job:hover .job-image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.job-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.job-title {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.job-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s ease-in;
  transition: -webkit-filter 0.5s ease-in;
  transition: filter 0.5s ease-in;
  transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
}

.job-image::before {
  content: "";
  display: block;
  padding-bottom: 300px;
}

.job-image1 {
  background-image: url(../img/job-01.jpg);
}

.job-image2 {
  background-image: url(../img/job-02.jpg);
}

.job-image3 {
  background-image: url(../img/job-03.jpg);
}

/* QUALIFCATIONS *------------------------------------------------*/
.qualifications {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10% 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qual-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4em auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qual-list label {
  font-size: 1.4em;
  font-weight: bold;
  color: #222;
}

.qual-list li {
  color: #555;
  font-size: 1.2em;
  margin: 1em 1em 2em;
}

.underline {
  font-weight: bold;
  color: #444;
}

.qual-img {
  width: 70%;
  border: 5px solid black;
  border-radius: 50%;
  margin: auto;
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
}

.qual-pic {
  margin: 2em;
  text-align: center;
}

/* CONTACT *------------------------------------------------*/
.icons {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 15%;
}

.icon img {
  display: block;
  width: 200%;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.6, -0.47, 0.41, 1.03);
  transition: -webkit-transform 0.2s cubic-bezier(0.6, -0.47, 0.41, 1.03);
  transition: transform 0.2s cubic-bezier(0.6, -0.47, 0.41, 1.03);
  transition: transform 0.2s cubic-bezier(0.6, -0.47, 0.41, 1.03), -webkit-transform 0.2s cubic-bezier(0.6, -0.47, 0.41, 1.03);
}

.icon img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Footer *------------------------------------------------*/
footer {
  height: 5em;
  background-color: #333;
}

footer span {
  margin: auto;
  text-align: center;
}

.footer-text {
  display: block;
  padding-top: 25px;
  text-align: center;
  margin: auto;
}

@media (max-width: 1500px) {
  .qualifications {
    padding: 0 2% 50px;
  }
}

@media (max-width: 1216px) {
  .job-image1 {
    background-position-y: 0%;
  }
  .job1 {
    max-width: 800px;
  }
  .qual-list {
    margin: 2em auto;
  }
}

@media (max-width: 827px) {
  h1 {
    font-size: 4rem;
    padding: 100px 0;
  }
  .introduction {
    margin: auto;
    padding: 10px;
  }
  .introduction p {
    padding: 5%;
    max-width: 100%;
  }
  .job-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    max-width: 600px;
  }
  .job-group {
    padding: 0 10px;
  }
  .icons {
    padding: 20px 4%;
  }
}

@media (max-width: 650px) {
  .navbar, .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-top-background {
    background-size: 300%;
    background-position: 28% 57%;
  }
  .hide-name {
    display: none;
  }
  .logo {
    display: none;
  }
  h1 {
    padding: 600px 0 0 0;
    margin: 0 20px 0 160px;
    text-align: right;
  }
  .icon img {
    width: 140%;
  }
}

@media (max-width: 510px) {
  .nav-links li {
    padding: 5px 16px;
  }
  .page-top {
    margin-top: -50px;
  }
  .background-coloring-primary {
    background: #cccccc;
  }
  h1 {
    font-size: 2rem;
    padding: 730px 0 0 0;
    margin: 0 20px 0 0px;
    text-align: right;
  }
  .page-top-background {
    background-size: 300%;
    background-position: 28% 45%;
  }
  .introduction p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */